.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: hsla(313, 18%, 64%, 1);

  background: linear-gradient(360deg, hsla(313, 18%, 64%, 1) 19%, hsla(323, 22%, 72%, 1) 46%, hsla(326, 25%, 76%, 1) 73%);
  
  background: -moz-linear-gradient(360deg, hsla(313, 18%, 64%, 1) 19%, hsla(323, 22%, 72%, 1) 46%, hsla(326, 25%, 76%, 1) 73%);
  
  background: -webkit-linear-gradient(360deg, hsla(313, 18%, 64%, 1) 19%, hsla(323, 22%, 72%, 1) 46%, hsla(326, 25%, 76%, 1) 73%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#B392AC", endColorstr="#C8A9BC", GradientType=1 );

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
